.name {
    color: aquamarine;
}

section {
    border: 1px solid red
}
body{
    
}
.half-width{
    width: 40%;
    height: 300px;
    float: left;
    margin-left: 5%;
    margin-top: 1%;
    padding-left: 2%;
    text-align: justify;
    
}
.half-width img{
    width: 70%;
    height: 100%;
}
section {
    height: 350px;
}
.topic-1 {
    background-image: url("images/background.png");
}
.hire {
    margin: 20px ;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 15px;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(45deg, red, tomato);
    font-weight: 800;
}
.resume {
    font-weight: 900;
    margin-top: 35px;
    margin-left: 20px;
    padding: 15px;
    font-size: 17px;
	background-image: linear-gradient(45deg, rgb(23, 180, 146), rgba(190, 39, 12, 0.836));
    border-radius: 8px;
    color: aliceblue;
    text-decoration: none;
}/*
section {
background-image: url("images/background.png");
background-repeat: no-repeat;
background-size:cover;
border-image-slice: 1;
background-color: antiquewhite;
}*/
footer {
    text-align: center;
    
}


